{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Normalize -->
  <link rel="stylesheet" href="{% static 'normalize/normalize.css' %}">
  {% block extra_css %}
  <!-- Estilos principales -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

  <title>EDELYX_FACTURADOR</title>
</head>
<body>

  {% block content %}
  {% endblock %}





  <!-- Scripts (si los tienes) -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
