{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap" rel="stylesheet">

  <!-- Normalize -->
  <link rel="stylesheet" href="{% static 'normalize/normalize.css' %}">
  {% block extra_css %}
  <!-- Estilos principales -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

  <title>EDELYX_FACTURADOR</title>
</head>
<body>

  {% block content %}
  {% endblock %}





  <!-- Scripts (si los tienes) -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
