<!--Cargamos los estaticos-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDELYX_FACTURADOR</title>
</head>
<body>

    <div class = "columna1">


        <img src="{% static 'img/logo.png' %}" alt="Logo_Edelyx">

        <p>Emisor:</p>
        <input type="text">

        <p>Cobrar a:</p>
        <input type="text">

        <p>Enviar a:</p>
        <input type="text">
        
        <div class="columna2">

            <h1>FACTURA</h1>

            <p>Numero de Factura:</p>
            <input type="text">

            <p>Fecha Actual:</p>
            <input type="date">

            <p>Fecha de Vencimiento:</p>
            <input type="date">

            <p>Condicion de Pago:</p>
            <input type="text">
            
        </div>
        
    </div>

    
</body>
</html>