{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Normalize -->
  <link rel="stylesheet" href="{% static 'normalize/normalize.css' %}">

  <!-- Estilos principales -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <title>EDELYX_FACTURADOR</title>
</head>
<body>

  {% block content %}
  {% endblock %}

  <!-- Incluir footer (archivo footer.html en templates/partials o similar) -->
  {% include 'layout/partials/footer.html' %}

  <!-- Scripts (si los tienes) -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
